@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    // font-family: 'Bebas Neue', cursive;
    font-family: 'Kanit', sans-serif;
    //font-family: 'Roboto', sans-serif;
    line-height: 1.5;

}

a {
    text-decoration: none;
    color: unset;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
}

ul,
li {
    list-style-type: none;
}